<div class="wrap">
<h3>Instagram HashViewer</h3>
<div class="row">
	<div class="col-xs-11 }}">
		<div id="gallery">
			{% for sub in submissions %}
				<div class="gallery-block text-center" 
					data-mediaid={{ sub.mediaId }}
					data-username={{ sub.instagramUsername }}
					data-imageurl={{ sub.instagramImage }}
					data-createdat={{ sub.createdAt }}
				>
					<a href="http://instagram.com/{{ sub.mediaId }}"><img class="gallery-image col-sm-12" src ="{{ sub.instagramImage }}" /></a>
					<em>User: <a href="http://instagram.com/{{ sub.instagramUsername }}">{{ sub.instagramUsername }}</a></em>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


<footer>
	<hr />
	<p><em>This page is made with the Instagram API.</em>
</footer>